body {
  font-size: 0.875rem;
}

hr {
  color: white;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

input.withUnitEuro {
  position: relative;
}

input.withUnitEuro:before {
  content: "€";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}

.roleCheckbox label {
  text-decoration: underline;
  cursor: pointer;
}

.color {
  background-color: #ffca2c !important;
}

/* Cursor wird normal (kein Handzeiger) opacity (Undurchsichtigkeit) von Button ist 50%  */
.btn.disable {
  opacity: 0.5;
  cursor: initial !important;
}

.addDate {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding-left: 0.2rem;

  padding-right: 0.2rem;
  cursor: pointer;
}

.dateContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.dateContainer .react-datepicker-wrapper {
  width: 20rem;
}

.dateContainer input {
  width: 14rem;
}

.addedDates {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addedDates li {
  display: flex;
  gap: 1rem;
}

.addedDates li i {
  color: red;
  border-color: red;
}



.boxAccept textarea,
.boxReject textarea {
  width: 100%;
  margin-bottom: 1rem;
}

.boxAccept,
.boxReject {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cartBox {
  padding: 1rem;
}

.cartBox footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 4rem;
  position: absolute;
  width: 100%;
  margin-top: 15rem;
  overflow: hidden;
  height: 0;
}

/* .delete-icon{
color: red;
}
.edit-icon{
col
} */
/*
 * Navbar
 */
